body {
    font-family: Consolas, "Lucida Console";
    background-color: black;
    color: white;
    opacity: 0;
}
p {
    font-size: 13px;
    white-space: pre;
}
a {
    color: white
}
.invisible {
    color: black;
}
#ascii {
    float: right;
}