body {
    font-family: Consolas, monaco, monospace;
    background-color: black;
    color: white;
    opacity: 0;
}
p {
    font-size: 13px;
    white-space: pre;
}
a {
    color: white
}
.invisible {
    color: black;
}
#content {
    float:left;
}
#img {
    float: right;
}
#ascii_link {
    text-decoration: none;
}